<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/workspacegit/frms-test/frms-test"><classes><class name="com.nuanshui.frms.test.controller.ExampleControllerTest"><methods><include name="selectByPrimaryKeyTest"/></methods></class><class name="com.nuanshui.frms.test.controller.FrmsapiTest"><methods><include name="selectByPrimaryKeyTest"/></methods></class></classes></test></suite>